# Discord bot token
token=
# the user ids of the developers (as an array) e.g. ["782946852278501407"]
dev_ids=
# Wether or not the bot is in maintenance
maintenance=
# Wether or not the bot should register commands when ready
register_commands=
# Supabase credentials
supabase_url=
supabase_api_key=
# API keys
open_router_api_key=
eleven_labs_api_key=
